@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: green;
};

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: green !important;
}

html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}
